// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-name {
    color: #222;
  }
  
  .product-name a {
    color: #222;
  }
  
  .product-brand {
    color: #777;
  }
  
  .product-price {
    color: green;
  }

  .product-id {
    color: #777;
  }

  .product-detail .product-detail-info {
    flex: 0 0 300px;
  }

  .product-detail .product-description {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px #ddd solid;
  }