* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

nav {
    height: 80px;
    background-color: black;

}

header {
    height: 805px;
    /* background-color: orange; */
    background: linear-gradient(#f037a5 -60%, #fae62d 140%);
}

footer {
    height: 538px;
    background-color: black;
}
.container {
    height: inherit;
    /*	get	parent	height	*/
    width: 1170px;
    /*	add	970px	for	smaller	screen	*/
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
  
}
.spotify-logo {
    width: 132px;
    height: 123px;
    /* margin: 20px 0; */
    margin-top: -20px;
}
nav ul {
    width: 484px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
nav a {
    color: white;
    text-decoration: none;
}

nav li {
    font-weight: bold;
    color: #f037a5;
}
nav a:hover {
    color: #1db954;
}
.hero-img {
    height: inherit;
    margin: 0 auto;
    background-image: url(img/hero-burst.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}